*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;   
}
body{
    font-family: 'Nanum Gothic', sans-serif;   
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/* 상단바 */
.navbar{
    height: 60px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;

}
.navbar .logo{
    float: left;
    line-height: 60px;
    
}
.navbar .logo img{
    height: 40px;
    vertical-align: middle;
}

.navbar .menu{
    float: right;
    list-style: none;
    
}
.navbar .menu li{
    float: left;
    margin-left: 40px;
    line-height: 60px;
}
.navbar .menu img{
    height: 24px;
    vertical-align: middle;
}
.navbar .menu a{
    text-decoration: none;
    font-size: 14px;
}
.navbar .menu .dark{
    color: #424242;
    font-weight: 700;
    
}
.navbar .menu .light{
    color: #9e9e9e;
}
.navbar .menu a:hover{
    color: #424242;
}

/* 베스트 */
.category a{
    text-decoration: none;
    font-size: 18px;
}
.category .dark{
    color: #424242;
    font-weight: 700;
}
.category .light{
    color: #9e9e9e;
}
.category a:hover{
    color: #424242;
}
.category a:not(:last-child){
    margin-right: 80px;
}
.category{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* 베스트상품 */
.best{
    width: 1200px;
    margin-top: 48px;
}
.best h2{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    margin-bottom: 32px;
}
.best h2::after{
    content: "";
    display: block;
    width: 70px;
    border-bottom: 2px solid #E74F56;
    margin: 16px auto;
}
.bestproduct img{
    width: 300px;
    height: 300px;
    margin-bottom: 12px;
}
.bestproduct{
    text-align: center;
    width: 376px;
    float: left;
    position: relative;
    margin-bottom: 80px;
    transition: 1s;
}
.bestproduct:hover{
    transform: scale(1.1);
}
.bestproduct:not(:last-child){
    margin-right: 36px;
}
.bestproduct a{
    text-decoration: none;
    color: #424242;
    font-weight: 700;
    font-size: 14px;
}

.bestproduct .brand{
    margin-bottom: 4px;
}
.bestproduct .name{
    margin-bottom: 8px;
}
.bestproductbox{
    position: relative;
}
.bestproductbox .back{
    position: absolute;
    margin-top: 174px;
}
.bestproductbox .back img{
    width: 24px;
}
.bestproductbox .front{
    position: absolute;
    margin-top: 174px;
    margin-left: 1176px;
}
.bestproductbox .front img{
    width: 24px;
}
/* 특가 */
.sale{
    width: 1200px;
    height: 150px;
    background-image: url("https://i.postimg.cc/CKxJBsMc/image.jpg");
    margin-bottom: 80px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.saletext a{
    text-decoration: none;
    color: #424242;
    font-size: 20px;
    font-weight: 700;
    
}
.sale p{
    font-size: 16px;
    color: #616161;
    font-weight: 400;
    margin-top: 16px;
}
.saletext{
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}
.sale .helper{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
/* 상품위 */
.product{
    width: 1200px;
    
}
.product h2{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    margin-bottom: 32px;
}
.product h2::after{
    content: "";
    display: block;
    width: 70px;
    border-bottom: 2px solid #E74F56;
    margin: 16px auto;
}
.cos a{
    text-decoration: none;
    font-size: 16px;
}
.cos .dark{
    color: #424242;
    font-weight: 700;
}
.cos .light{
    color: #9e9e9e;
}
.cos a:hover{
    color: #424242;
}
.cos a:not(:last-child){
    margin-right: 80px;
}
.cos{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* 검색 */
.text-field{
    border: none;
    background-color: #eeeff1;
    width: 300px;
    font-size: 14px;
    padding: 10px;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
}
.button{
    border: none;
    background-color: #E74F56;
    color: #eeeeee;
    font-size: 14px;
    width: 68px;
    padding: 8px;
    border-radius: 5px;
    font-weight: 400;
}
.search{
    margin-left: auto;
    margin-right: auto;
    width: 376px;
    display: block;
}


.search{
    margin-bottom: 40px;
}
/* 상품들 */
.productcont{
    text-align: center;
    width: 273px;
    float: left;
    margin-bottom: 40px;
    transition: 1s;
}
.productcont:hover{
    transform: scale(1.1);
}
.productcont img{
    width: 250px;
    height: 250px;
    margin-bottom: 12px;
}
.productcont:not(:nth-child(4n)){
    margin-right: 36px;
}
.productcont a{
    text-decoration: none;
    color: #424242;
    font-weight: 700;
    font-size: 14px;
}

.productcont .brand{
    margin-bottom: 4px;
}
.productcont .name{
    margin-bottom: 8px;
}
/* 숫자 */
.number{
    text-align: center;
    margin-top: 80px;
}
.number a{
    text-decoration: none;
    font-size: 14px;
}
.number .dark{
    color: #424242;
    font-weight: 700;
}
.number .light{
    color: #9e9e9e;
}
.number a:hover{
    color: #424242;
}
.number a:not(:last-child){
    margin-right: 32px;
}
/* 푸터 */
.footer{
    width: 100%;
    height: 200px;
    background-color: #eeeeee;
    margin-top: 80px;
    text-align: center;
}
.sns a img{
    width: 30px;
    height: 30px;
}
.sns{
    margin-bottom: 40px;
    text-align: center;
}
.sns a:not(:last-child){
    margin-right: 30px;
}

.footertext a{
    text-decoration: none;
    color: #424242;
    font-size: 14px;
    
}
.footertext{
    margin-bottom: 16px;
    text-align: center;
}
.footertext a:not(:last-child)::after{
    content: 'ㅣ';
    margin-left: 16px;
    margin-right: 16px;
}
.footer p{
    font-size: 14px;
    color: #424242;
    text-align: center;
}
.footercont{
    display: inline-block;
    vertical-align: middle;
}
.footer .helperr{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
